DB_HOST=database_host
DB_PASSWORD=database_password
DB_USER=database_user
DB_SCHEMA=database_schema
GATEWAY_PORT=gateway_port
FRONTEND_HOST=container_frontend_name
BACKEND_HOST=container_backend_name
APP_SECRET=app_secret
UPLOAD_URL=upload_url
